*{
    padding: 0;
    margin: 0;
}
:root {
    --scale: 1;
    --leftsize: 0;
    --leftsize: calc(( 100vh - (250px * var(--scale) + 130px * var(--scale) + 100px * var(--scale))) / 7);
    
}
.container1{
    width: 100%;
    height: calc(250px * var(--scale) + var(--leftsize));
    background: #E4572E;
} 
.container2{
    width: 100%;
    height: calc(130px * var(--scale) + var(--leftsize));
    background: #17BEBB;
} 
.container3{
    width: 100%;
    height: calc(100px * var(--scale) + var(--leftsize));
    background: #FFC914;

    /*color: white;*/
}
.end {
    width: 100%;
    height: calc(100% - (250px * var(--scale) + var(--leftsize)) - (130px * var(--scale) + var(--leftsize)) - (100px * var(--scale) + var(--leftsize)));
    background: #76B041;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}